/* defining css variables */
:root {
    --dark: #203e48;
    --light: #378293;
    --orange: #fe814f;
    --aqua: #67ddbe;
}

.bdr {
    border: 2px solid var(--aqua);
}

body {
    display: flex;
    flex-direction: column;
    background: var(--dark);
    color: var(--light);
    font-family: 'Roboto Slab', serif;
}
        /* Header */


header {
    text-align: center;
}

header h1 {
    padding: 27px;
    font-size: xxx-large;
}
    /* Navbar */

/* placing navbar links on right side of screen when viewed on desktop */
div nav {
    display: flex;
    justify-content: flex-end;
    background: var(--orange);
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
    margin: 10px 15px;
}

nav a:hover {
    color: #fff;
}

        /* Main */

/* defining headers boundary and applying underline */
.section-headers {
    width: fit-content;
    border-bottom: 2px solid var(--orange);
    font-size: xx-large;
    font-weight: 700;
    margin-left: 5px;
}
    /* About Me */

#about-me-box {
    display: flex;
    flex-flow: row;
    margin-top: 10px;
}

#avatar {
    border-radius: 50%;
    margin: auto;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
}

#ramble-box {
    border: 2px solid var(--aqua);
    border-radius: 20px; 
    width: 70%;
    margin: auto;
    box-sizing: content-box;    
}

#ramble {
    font-size: large;
    margin: 1% 2%;
    text-align: center;
}
    /* My Work */

#example-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;
    margin: 3% auto;
}

#example-image-main:hover, .example-image:hover{
    box-shadow: 20px 20px 18px rgb(54, 54, 54);
}

#example-image-main {
    display: flex;
    position: relative;
    min-height: 100%;
    max-width: 80%;
    border: 2px solid var(--aqua);
    margin: 5px 5px 0px 0px;
}

.example-image {
    display: flex;
    position: relative;
    min-height: 100%;
    max-width: 45%;
    border: 2px solid var(--aqua);
    margin: 5px 5px 0px 0px;
}

.image-label{
    position: absolute;
    left: 0;
    top: 70%;

    padding: 4px;
    background: var(--aqua);
    color: black;
}

    /* Contact */

#contact-card-box {
    display: flex;
    flex-direction: row; 
    margin: 8px auto;
    width: fit-content;
}

div li{
    margin: auto 8px;
}

/* .contact-li {
    margin: auto 8px;
} */

.contact-card {
    text-decoration: none;
    font-size: larger;
    color: var(--aqua);

    padding: 3px;
    border: solid 2px var(--light);
    border-radius: 7px;
}

.contact-card:hover {
    color: #fff;
}

        /* Footer */

footer {
    background: var(--aqua);
    text-align: center;
    font-family: 'Brush Script MT', fantasy;
}

@media screen and (max-width: 991px) {

    /* making navbar and content in main section
    fit better on mobile/tablet screens */
    main,
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 7px auto;
    }
}

@media screen and (max-width: 767px) {

    #example-image-main{
        max-width: 65%;
        margin: 3px auto;
    }

    .example-image{
        max-width: 55%;
        margin: 3px auto;
    }

    div li{
        margin: 8px auto;
    }

    #contact-card-box{
        flex-direction: column;
    }
}