/* defining css variables */
:root {
    --dark: #203e48;
    --light: #378293;
    --orange: #fe814f;
    --aqua: #67ddbe;
}

body {
    background: var(--dark);
    color: var(--light);

    display: flex;
    flex-direction: column;
}


header {
    text-align: center;
}

header h1 {
    padding: 27px;
}

/* placing navbar links on right side of screen when viewed on desktop */
div nav {
    display: flex;
    justify-content: flex-end;
    background: var(--orange);
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
    padding: 10px 15px;
}

nav a:hover {
    color: #fff;
}


/* making headers for each section its own box */
.section-headers {
    width: 146px;
    border-bottom: 2px solid var(--orange);
}

#ramble-box {
    border: 2px solid var(--aqua);
    border-radius: 20px; 
    max-width: 70%;
    margin: auto;
    box-sizing: content-box;    
}

#ramble {
    font-size: 1.9vw;
    margin-left: 3%;
}

#example-box {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin: 3% auto;

}

.example-image {
    display: flex;
    max-width: 30%;
    border: 2px solid var(--aqua);
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;    
}

#contact-cards {
    text-decoration: none;
    color: var(--aqua);
}

#contact-cards:hover {
    color: #fff;
}

footer {
    background: var(--aqua);
    text-align: center;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    main,
    nav {
      flex-direction: column;
    }

    /* header div {
        width: 70%;
        margin: auto;
    } */
}